* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  body:after {
    content: "s";
    }
    .nav-bar {

    }
}
@media screen and (min-width: 768px) {
  body:after {
    content: "m";
  }
}
@media screen and (min-width: 1024px) {
  body:after {
    content: "l";
  }
}
@media screen and (min-width: 1280px) {
  body:after {
    content: "xl";
  }
}

body {
  color: #555;
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

header {
  background: black;
  display: flex;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
}

.nav-bar {
  color: blanchedalmond;
  list-style-type: none;
  display: flex;
  flex: 1;
}

.nav-bar img {
  margin-left: 20px;
}

.link {
  display: flex;
  margin-left: 20px;
  list-style-type: none;
}

.link a {
  margin-left: 10px;
  color: blanchedalmond;
  text-decoration: none;
}

.linke {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  color: blanchedalmond;
  text-decoration: none;
}

.nav-bar2 {
  display: flex;
  background: transparent;
  height: 50px;
  align-items: center;
  padding-left: 30px;
}

.nav-bar2 p span {
  color: #ff4422;
  margin-right: 20px;
  font-size: 20px;
}

.line .fa.fa-arrow-right {
  position: relative;
  bottom: 1px;
  font-size: x-small;
}

.nav-bar2 button {
  width: 100px;
  height: 30px;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 20px;
}

.nav-bar2 h3 {
  margin-right: 50px;
}

.nav-bar2 .links {
  display: flex;
  flex: 1;
}

.nav-bar2 .fa.fa-search {
  margin-right: 30px;
}

.nav-bar2 .links a {
  color: gray;
}

.line {
  position: relative;
  background: #fd3;
}

.line p {
  height: 30px;
  margin-left: 30px;
}

.img-grid {
  width: 90%;
}

.img-grid img {
  margin-left: 30px;
  width: 500px;
}

.aside {
  display: grid;
  float: right;
}

section {
  margin:  70px 40px;
}

section p a {
  text-decoration: none;
  font-size:  20px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #ff4422;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px 20px;
  grid-gap: 20px;
}


#section2 {
  display: flex;
  flex-direction: row;
}


#section2 .p2 a {
  display: flex;
  text-decoration: none;
  font-size:  20px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #ff4422;
}

.link1 li  {
  display:flex;
}

.link1 li a {
  align-items: flex-end;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > .level2 {
  background: sandybrown;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

